In [67]:
import pandas as pd
df=pd.read_csv(r'D:\Data Science\Final_Project\hierarchical_deep_temporal_models_for_group_activity_recognition\data\annotations\video_annotation.csv')
df2=pd.read_csv(r'D:\Data Science\Final_Project\hierarchical_deep_temporal_models_for_group_activity_recognition\data\annotations\w.csv')

In [68]:
df2['MainFrame'] = df2['MainFrame'].astype(str) + '.jpg'
df2
# pd.merge(left=df,right=df2,on="MainFrame",how="outer")

      video  MainFrame                                     feature_vector
0         0  13286.jpg  [0.22876059 0.11594155 0.8200442  ... 0.082939...
1         0  13336.jpg  [0.13090675 0.51647955 0.52438325 ... 0.028553...
2         0  13361.jpg  [0.49394825 0.5028987  0.84869593 ... 0.104468...
3         0  13406.jpg  [0.15273735 0.23444009 0.4647737  ... 0.111536...
4         0  13456.jpg  [0.34163085 0.1497777  1.0874199  ... 0.122582...
...     ...        ...                                                ...
4825     54   9895.jpg  [0.36349565 0.24439706 1.9420455  ... 0.124583...
4826     54   9910.jpg  [0.49779183 0.13992308 1.74923    ... 0.065381...
4827     54   9925.jpg  [0.30147225 0.12064979 2.0826888  ... 0.153021...
4828     54   9965.jpg  [0.4315266  0.21706332 1.0325526  ... 0.119289...
4829     54   9990.jpg  [0.5483575  0.5429786  1.3738953  ... 0.194431...

[4830 rows x 3 columns]

In [69]:
dff=df.merge(df2, on=["MainFrame","video"], how = 'inner')
dff

,video,MainFrame,label,feature_vector
0,0,48075.jpg,7,[0.26932135 0.03515102 1.029129 ... 0.465128...
1,0,45210.jpg,7,[0.56102556 0.17478865 1.1161739 ... 0.035417...
2,0,35925.jpg,3,[0.1683197 0.04063925 0.7556557 ... 0.447558...
3,0,52335.jpg,7,[0.5297356 0.12334977 1.1452633 ... 0.380719...
4,0,30150.jpg,7,[0.23620549 0.11175998 0.7555499 ... 0.157906...
...,...,...,...,...
4825,54,53380.jpg,2,[0.5903671 0.21281286 1.1056042 ... 0.100623...
4826,54,53415.jpg,4,[0.26639646 0.15897943 1.9908794 ... 0.172740...
4827,54,72725.jpg,4,[0.69190896 0.0845044 1.1301181 ... 0.161728...
4828,54,73175.jpg,0,[0.35745773 0.18461804 1.5074756 ... 0.039629...
4829,54,53500.jpg,6,[0.36343205 0.05054019 0.9629817 ... 0.072782...

In [78]:
import numpy as np

np.fromstring(dff['feature_vector'][0].strip('[]'), sep=' ')

C:\conda_tmp\ipykernel_17900\2124809273.py:3: DeprecationWarning: string or file could not be read to its end due to unmatched data; this will raise a ValueError in the future.
  np.fromstring(dff['feature_vector'][0].strip('[]'), sep=' ')

array([0.26932135, 0.03515102, 1.029129  ])

In [3]:
training_set = df[df['video'].isin([
        1, 3, 6, 7, 10, 13, 15, 16, 18, 22, 23, 31, 32, 36, 38, 39, 40, 41, 42, 48, 50, 52, 53, 54])]
Validation_set = df[df['video'].isin([
        0, 2, 8, 12, 17, 19, 24, 26, 27, 28, 30, 33, 46, 49, 51])]
test_set = df[df['video'].isin([
        4, 5, 9, 11, 14, 20, 21, 25, 29, 34, 35, 37, 43, 44, 45, 47])]

In [7]:
training_set['label'].value_counts()

0    378
4    353
2    304
1    289
5    283
6    261
3    161
7    123
Name: label, dtype: int64

In [8]:
Validation_set['label'].value_counts()

4    238
0    222
6    189
1    174
5    169
2    160
3    104
7     85
Name: label, dtype: int64

In [6]:
test_set['label'].value_counts().sum()

1337

In [20]:
import numpy as np
x=np.random.rand(5,3)
# y=np.random.rand(5,1)
# np.concatenate([x,y],axis=1)
x

array([[0.3481785 , 0.57163212, 0.67085587],
       [0.91058644, 0.15051416, 0.63349712],
       [0.52283837, 0.22369015, 0.07605149],
       [0.60712417, 0.49824379, 0.9342473 ],
       [0.67809488, 0.19318035, 0.11210768]])

In [21]:
x2=[x[i,1:].tolist() for i in range(x.shape[0])]

# y=pd.DataFrame(y)
# pd.concat([x,y],axis=1)

In [23]:
pd.concat([x,pd.DataFrame(x2)],axis=0)

TypeError: cannot concatenate object of type '<class 'numpy.ndarray'>'; only Series and DataFrame objs are valid

In [24]:
pd.DataFrame(x2)

          0         1
0  0.571632  0.670856
1  0.150514  0.633497
2  0.223690  0.076051
3  0.498244  0.934247
4  0.193180  0.112108